$xsBreakpoint: 576px;
$smBreakpoint: 768px;
$mdBreakpoint: 1024px;
$lgBreakpoint: 1290px;
$xlBreakpoint: 1440px;

@mixin xs-bp {
  @media only screen and (max-width: $xsBreakpoint) {
    @content;
  }
}

@mixin sm-bp {
  @media only screen and (min-width: $smBreakpoint) {
    @content;
  }
}

@mixin md-bp {
  @media only screen and (min-width: $mdBreakpoint) {
    @content;
  }
}

@mixin lg-bp {
  @media only screen and (min-width: $lgBreakpoint) {
    @content;
  }
}

@mixin xl-bp {
  @media only screen and (min-width: $xlBreakpoint) {
    @content;
  }
}
